* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

nav {
  height: 60px;
  padding: 5px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 13px;
}

a {
  padding: 15px;
  text-decoration: none;
  color: #70757a;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 46px;
  background-color: #f2f2f2;
  border-top: 1px solid #dadce8;
  font-size: 14px;
  
}

input {
  width: 582px;
  height: 44px;
  border: 1px solid #dfe1e5;
  border-radius: 24px;
  margin-top: 26px;
}

input:hover {
  background-color: #fff;
  box-shadow: 0 1px 6px rgb(32 33 36 / 28%);
  border-color: rgba(223,225,229,0);
}

button {
  width: 134px;
  height: 36px;
  margin: 11px 4px;
  background-color: #f8f9fa;
  border: #f8f9fa;
  border-radius: 4px;
}

button:hover {
  box-shadow: 0 1px 1px rgb(0 0 0 / 10%);
  background-color: #f8f9fa;
  border: 1px solid #dadce0;
  color: #202124;
}

.portrait {
  border-radius: 50%;
  width: 32px;
  height: 32px;
}

.logo {
  max-width: 272px;
  height: auto;
}

.buttons {
  padding-top: 18px;
}

.toplink {
  color: #000000de;
}

.dots {
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center; 
}

span {
  width: 2px;
  height: 2px;
  display: block;
  background-color: #000000de;
  border: 2px solid #000000de;
  border-radius: 50%;
  margin: 2px 1px;
}




